﻿
@using aras.ViewModels
@model LoginViewModel

@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Accountability and Responsibility Assessment System</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, system_users-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="~/css/paper-dashboard.css" rel="stylesheet" />


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/css/demo.css" rel="stylesheet" />


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="~/css/themify-icons.css" rel="stylesheet">
</head>

<body>
    @{ 
        var d = User.Identity.IsAuthenticated;
    }
    @if (this.User.Identity.IsAuthenticated)
    {
        <li class="nav-item"><a asp-action="Index" asp-controller="Membership" class="nav-link" target="_blank">Membership</a></li>
    }
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">ARAS - Accountability and Responsibility Assessment System</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="register.html">
                            CVES
                        </a>
                    </li>
                    @*<li>
                            <a href="../dashboard/overview.html">
                                Dashboard
                            </a>
                        </li>*@
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" data-color="" data-image="/img/background/background-2.jpg">
            <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <form asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">
                                <div class="card" data-background="color" data-color="blue">
                                    <div class="card-header">
                                        <h3 class="card-title">Login</h3>
                                    </div>
                                    <div class="card-content">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input asp-for="username" type="text" placeholder="Enter username" class="form-control input-no-border">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input asp-for="password" type="password" placeholder="Password" class="form-control input-no-border">
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-fill btn-wd ">Let's go</button>
                                        <div class="forgot">
                                            <span asp-validation-for="password" class="text-danger"></span>
                                            @Html.ValidationMessage("Error")
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer footer-transparent">
                <div class="container">
                    <div class="copyright">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <i class="fa fa-heart heart"></i> <a href="">KMBI - IT Department</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>



</html>
<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
<script src="~/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="~/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/js/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="~/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Forms Validations Plugin -->
<script src="~/js/jquery.validate.min.js"></script>

<!-- Promise Library for SweetAlert2 working on IE -->
<script src="~/js/es6-promise-auto.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="~/js/moment.min.js"></script>

<!--  Date Time Picker Plugin is included in this js file -->
<script src="~/js/bootstrap-datetimepicker.js"></script>

<!--  Select Picker Plugin -->
<script src="~/js/bootstrap-selectpicker.js"></script>

<!--  Switch and Tags Input Plugins -->
<script src="~/js/bootstrap-switch-tags.js"></script>

<!-- Circle Percentage-chart -->
<script src="~/js/jquery.easypiechart.min.js"></script>

<!--  Charts Plugin -->
<script src="~/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="~/js/bootstrap-notify.js"></script>

<!-- Sweet Alert 2 plugin -->
<script src="~/js/sweetalert2.js"></script>

<!-- Vector Map plugin -->
<script src="~/js/jquery-jvectormap.js"></script>

<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Wizard Plugin    -->
<script src="~/js/jquery.bootstrap.wizard.min.js"></script>

<!--  Bootstrap Table Plugin    -->
<script src="~/js/bootstrap-table.js"></script>

<!--  Plugin for DataTables.net  -->
<script src="~/js/jquery.datatables.js"></script>

<!--  Full Calendar Plugin    -->
<script src="~/js/fullcalendar.min.js"></script>

<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
<script src="~/js/paper-dashboard.js"></script>

<!-- Paper Dashboard PRO DEMO methods, don't include it in your project! -->
<script src="~/js/demo.js"></script>

<script type="text/javascript">
    $().ready(function () {
        demo.checkFullPageBackgroundImage();

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('.card').removeClass('card-hidden');
        }, 700)
    });
</script>